@model IEnumerable<MyPersonalLib.MvcUI.Models.GenreListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="width:15%"> ID</th>
        <th style="width:70%"> Kitap Türü</th>
        <th style="width:170px"> </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.BookGenre</td>
            <td></td>
        </tr>
    }
</table>

